
div {
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }
  
  h2, h4 {
    text-align: center;
  }
  
  a {
    display: block;
    margin: 20px auto;
    text-decoration: none;
    padding: 10px;
    background-color:green;
    color: white;
  }
  